html, body{
  height: 100%;
  min-height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  margin:0;
}
  
h1{
  font: 2em "bebas-neue-pro", sans-serif;
  line-height: 29px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  display:none;
}

h2{
  font-family: "bebas-neue-pro", sans-serif ;
  font-size: 1.5em;
  font-weight: 500;
  color: #79838d;
  text-transform: uppercase;
}

h3, .post h2{
  font-family: "Roboto";
  font-size: 0.85em;
  font-weight: 400;
  color: #f15d22;
}
p, a, li{
  color: #666;
  font: 0.85em 'Roboto', sans-serif;
  line-height: 22px;
}

.post a{
  color: #50b6e0;
}

/****Universal classes to remove or add styles****/
.nomargin{
  margin: 0;
}

.mainContainer a{
  color: #50b6e0;
  width: fit-content;
}

/*----------Universal Padding----------*/


#headerMain{
  background: url(../images/bg.gif);
  background-size: contain;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.headerImage{
  width: 100%;
}
.headerNav{
  display: none;
}
#headerMain a{
  display:flex;
  width:100%;
}
#headerMain img{
  width: 100%;
}

/****navbar****/


#ham, .selection img{
  display: none;
}

.fa-newspaper{
  width: 100%;
  font-size: 10em;
  text-align: right;
}

.selection{
  padding: 0.85em 0;
  background: #f0f1f3;
  border-top: 1px solid #50b6e0;
  border-bottom: 1px solid #50b6e0;
  width: 100%;
}

.selection a{
  text-decoration: none;
  font-size: inherit;
}

.selection ul{
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  justify-content: center;
  width: 60%;
}

.selection .menu-item-has-children{
  position: relative;
}
.selection .menu-item-has-children:hover > .sub-menu{
  height: auto;
  transition: 0.3s ease;
  padding-top: 0.75em 0;
  box-shadow: 1px 1px 6px rgb(0 0 0 / 30%);
}
.selection .sub-menu{
  height: 0;
  overflow: hidden;
  width: 15em;
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  background: inherit;
  background: #f0f1f3;
  z-index: 10;
}

.selection li{
  position: relative;
  padding: 2px 0 2px 0;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 3%;
}
.selection li:hover > a{
  color: #f37121;
}
.selection li:hover:after{
  content: '';
  width: 100%;
  height: 2px;
  background: #f37121;
  bottom: 0;
  left: 0;
  position: absolute;
}
.sub-menu li{
  padding: 0.8em 0;
  border-bottom: 1px solid rgba(255,255,255, 1);
}
.current-menu-item:after, .current-menu-parent:after{
  content : '';
  width: 100%;
  height: 2px;
  background:#f37121;
  bottom: 0;
  left: 0;
  position: absolute;
}

.intro{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0;
}

.intro h1{
  height: 0;
  overflow: hidden;
  margin: 0;
}

.intro p{
  width: 60%;
  font-size: 1.25em;
  text-align: center;
}

#footerMain{
  display:flex;
  margin-top: 1%;
}

/****Push footer to bottom of page instead of floating****/


.footerContainer{
  background: #50545d;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 4% 7%;
  width: 100%;
  margin-top: auto;
}
.footerContainer h2, .footerContainer a{
  color: white;
}

.footerDiv{
  width: auto;
  display:flex;
  flex-direction: column;
}

.footerContainer .logo{
  width: 15%;
}
.logo img{
  width: 100%;
}
.footerContainer .footerText{
  width: 77%;
}
.footerText p{
  color: white;
  width: 78%;
  margin: 0 0 2%;
}
.footerText a{
  color: #50b6e0;
  text-decoration: none;
}

/****Styles from psfinc****/
table, tbody, td, th, tr{
  font-weight: inherit;
  font-size: 100%;
  font-family: roboto;
}

table.rowShading {
  background-color: #FFFFFF;
  width: 50%;
  text-align: left;
  border-collapse: collapse;
  margin: 1.5em 0;

}
table.rowShading tr:nth-child(even) {
  background-color: rgba(243,113,33,.15);
}

table.rowShading td, table.rowShading th {
  border: 1px solid #AAAAAA;
  line-height: 1em;
  vertical-align: top;
  padding: 5px;
}


@media only screen and (min-width: 1366px) and (max-width: 1536px) {
  .footerContainer .logo{
    width: 17%;
  }
  .footerText{
    justify-content: space-between;
  }
  .footerText p{
    margin: 0;
  }
}
@media screen and (min-width: 1025px) and (max-width:1366px){
  .selection li{
    font-size: 1em;
  }
  .footerText{
    justify-content: space-between;
  }
  .footerContainer .logo{
    width: 20%;
  }
  .footerContainer .footerText{
    width: 77%;
  }
  .footerText p{
    width: 100%;
  }
}

@media screen and (max-width: 1023px){
  .selection ul{
    width: 80%;
  }

  .selection .menu-item-has-children:hover > .sub-menu{
    width: 100%;
    background: inherit;
    box-shadow: inherit;
    width: 100%;
    background: inherit;
    position:relative;
    top: inherit;
    left: inherit;
  }
  .selection .sub-menu li{
    font-size: inherit;
  }

}

@media screen and (max-width: 769px){



  #ham{
    display: block;
    position: fixed;
    /* top: 2%;
    left: 2%; */
    top: 1%;
    font-size: 24px;
    z-index: 11;
  }

  

  .transition{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .selection{
    width:100%;
    /* width: 0; */
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -100%;
    /* left: 0; */
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 10;
    border: none;
    padding:0;
  }
  .selection ul{
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }
  .selection li{
    padding: 8px 0;
    font-size: 1.5em;
    margin: 0.5em 1em;
    width: fit-content;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  }
  .selection .sub-menu li:last-child{
    margin-bottom:0;
    padding-bottom: 0;
  }
  .selection li:hover:after{
    display: none;
  }
  .selection .psfincLink{
    width: 50%;
    position: relative;
    display: block;
  }
  .psfincLink img{
    width:100%;
    padding: 15% 15% 10% 15%;
    background: white;
    border-bottom: 0.01em solid rgba(0,0,0,0.3);
  }
  /* .selection img{
    width: 75%;
    margin: 5% auto;
  } */
  .selection img{
    display: block;
  }
  .fa-bars{
    left: 0.3em;
  }
  .fa-x{
    left: 46%;
  }
  .fa-newspaper {
    font-size: 8em;
  }
  .current-menu-parent:after{
    display: none;
  }

  .selection .sub-menu {
    height: auto;
    box-shadow: inherit;
    width: 100%;
    background: inherit;
    position: relative;
    top: inherit;
    left: inherit;
    margin: 0.5em 0 0 0;
  }

}

/****Mobile****/
@media screen and (max-width: 600px){
  #ham{
    font-size: 16px;
  }
  .fa-x{
    left: 70%;
  }
  .selection ul, .selection .psfincLink{
    width: 75%;
  }
  .selection li{
    font-size: 1em;
    margin: 0 1em;
    padding: 8px 0 4px 0;
  }

  .psfincLink img{
    padding: 15% 20% 10% 20%;
  }
}